<div id="content-page">
  <p-carousel
    [value]="movies"
    styleClass="custom-carousel"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
  >
    <ng-template let-movie pTemplate="movies">
      <div class="movie-item">
        <div class="movie-item-content">
          <div class="p-mb-3"></div>
          <h4 class="p-mb-1 title-movie">{{ movie.title }}</h4>
          <div class="image-movie">
            <img src="{{ movie.avatar }}" />
          </div>
          <div class="des-movie">
            <span>Read More</span>
            <div class="trailer-movie">
              <button
                type="button"
                icon="pi pi-info-circle"
                label="Show"
                (click)="showDialog()"
              >
                <i class="pi pi-play"> </i>
              </button>
            </div>
            <div class="time-show">
              <span>Released: {{ movie.showtime }} </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <app-popup-component
    [isOpen]="display"
    [movies]="movies"
  ></app-popup-component>
</div>
