#tab-page {
  display: flex;
  justify-content: center;
  .p-tabview-title {
    line-height: 1.4em;
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #d8d8d8;
    font-size: 26px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: #ec7532;
  }
  .tab-now {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
