#header {
  background-color: rgb(20, 20, 20);
  .navbar {
    .navbar-left {
      .navba-item {
        display: flex;
        margin: 30px 70px;
        .navbar-title {
          text-transform: uppercase;
          color: #e50914;
          cursor: pointer;
          font-size: 45px;
          font-family: inherit;
        }
        ul {
          list-style: none;
          li {
            display: inline-block;
            margin: 20px 20px;
            a {
              text-decoration: none;
              text-transform: uppercase;
              color: #e5e5e5;
            }
          }
        }
      }
    }
    .navbar-right {
      display: flex;
      justify-content: center;
      padding: 47px 60px;
      margin-right: 0px;
      .right-element {
        margin-top: 3px;
      }
      .right-avatar {
        margin-left: 10px;
        span {
          color: #e5e5e5;
        }
        img {
          width: 90px;
          height: 34px;
          margin-left: 10px;
        }
      }
    }
  }
}
@media (min-width: 768) {
  #header {
    .navbar {
      .navbar-right {
        float: right !important;
        margin-right: 0px;
      }
    }
  }
}
